server:
  port: 9090
spring:
  application:
    name: booking-service
  datasource:
    url: jdbc:mysql://bookingdb:3306/bookings?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: bookings
    hikari:
      initialization-fail-timeout: 0
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  devtools:
    restart:
      enabled: false